<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
    <title>Stem Code Lab!</title>
</head>

<body>
    <h1>Welcome to Code Lab!!Enjoy your irresponsible coding</h1>
</body>
<script src="./codelab.js"></script>

</html>