<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/clstyles.css'>
	<title>Stem Code Lab!</title>
</head>

<body>
    <h1>Welcome to Code Lab!!Enjoy your irresponsible coding</h1>
	<button class='cl-btn'>test 1</button><p class='cl-text-1'>data 1</p><p class='cl-text-2'>other data 1</p>
	<button class='cl-btn'>test 2</button><p class='cl-text-1'>data 2</p><p class='cl-text-2'>other data 2</p>
	<button class='cl-btn'>test 3</button><p class='cl-text-1'>data 3</p><p class='cl-text-2'>other data 3</p>
</body>
<script src="./codelab.js"></script>

</html>