<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
    <title>Hello from Electron renderer!</title>
</head>

<body>
    <h1>Hello from Electron renderer!</h1>
    <p>👋</p>
    <p id="info"></p>
    <div id='fs-main'>
		<p class='fs-data' id="fs-text"></p>
	</div>
	<p>Current color theme:<strong id='dm-text'>System</strong></p>
	<button id='dm-main'>Toggle</button>
	<button id='dm-reset'>Reset</button>
</body>
<script src="./index.js"></script>

</html>