<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/index.css'>
    <title>Hello from Electron renderer!</title>
</head>

<body>
    
    <p id="info"></p>
	<div id='fs-path'></div>
		<div id='main-function'>
			<div id='mnt'>
				<div id='mnt-cm' class='context-menu'>
					<div>
						<p id='mnt-cm-new' class='mnt-cm-option'>New</p>
						<p id='mnt-cm-move' class='mnt-cm-submenu'>Move</p>				
						<p id='mnt-cm-remove' class='mnt-cm-submenu'>Remove</p>
					</div>					
				</div>
				<div id='mnt-cm-sub'>
					<div id='mnt-cm-movemenu' class='mnt-cm-dropmenu'>
						<p id='mnt-movemenu-shortcut' class='mnt-dropmenu-option'>Move to Shortcut</p>
					</div>
					<div id='mnt-cm-removemenu' class='mnt-cm-dropmenu'>
						<p id='mnt-removemenu-delete' class='mnt-dropmenu-option'>Delete this record</p>
						<p id='mnt-removemenu-remove' class='mnt-dropmenu-option'>Remove from group</p>
						<p id='mnt-removemenu-unmonitor' class='mnt-dropmenu-option'>Remove monitoring</p>
					</div>
				</div>
				<div id='mnt-shortcut' class='mnt-folder mnt-dropzone'>
					<p class='mnt-folder-header'>Shortcut</p> 
					<div id='mnt-shortcut-display' class='mnt-folder-content'></div>
				</div>
				<div id='mnt-main' class='mnt-folder'>
					<p class='mnt-folder-header'>All Files</p>
					<div id='mnt-main-display' class='mnt-folder-content'></div>
				</div>
			</div>
			<div id='fs'>
				<h1 id='fs-info'></h1>	
				<div id='fs-toolbar'>
					<button id='fs-up'>Up Level</button>
				</div>				
				<div id='fs-main'>
					<div id='fs-floor-0' class='fs-floor'></div>
					<div id='fs-floor-1' class='fs-floor'></div>
					<div id='fs-floor-2' class='fs-floor'></div>
					<div id='fs-floor-3' class='fs-floor'></div>
					<div id='fs-floor-4' class='fs-floor'></div>
				</div>
			
			</div>
			<div id='tag'>
				<div id='tag-searchbar'>
					<input id='tag-search' class='input-field'>
					<button id='tag-searchbtn'>Search</button>
					<div id='tag-match'>
						<div id='tag-match-div'></div>
					</div>
					<div id='tag-search-output'></div>				
				</div>
				<div id='tag-window'>
					<p id='ux-selected'>File is not selected</p>
					<input id='tag-input' class='input-field'>
					<div id='tag-btn'>
						<button id='tag-write'>Add Tag</button>
					</div>
					<div id='tag-display'></div>
					<div id='tag-placeholder'>
						<button id ='tag-delete'>Delete Tag</button>
						<div id='tag-info'>
							<p id ='tag-selected'>No tag selected</p>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	<div id='buttonbar'>
		<button id='fs-home'>Home</button>
		<button id='fs-openDir'>Open Folder</button>
		<button id='cw-setting'>Setting</button>
		<button id="btn">Test button</button>
	</div>
    
</body>
<script src="./index-ux.js"></script>
<script src="./index-tag.js"></script>
<script src="./index-mnt.js"></script>
<script src="./index.js"></script>


</html>