<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/index.css'>
    <title>Hello from Electron renderer!</title>
</head>

<body>
    <h1>Hello from Electron renderer!</h1>
    <p>👋</p>
    <p id="info"></p>
	<div id='fs-path'></div>
		<div id='main-function'>
			<div id='mnt'>
				<div id='mnt-shortcut'>
					<p class='mnt-folder-header'>Shortcut</p> 
					<div id='mnt-shortcut-display' class='mnt-folder-content'></div>
				</div>
				<div id='mnt-main'>
					<p id='mnt-main-header'>All Files</p>
					<div id='mnt-main-display' class='mnt-folder-content'></div>
				</div>
			</div>
			<div id='fs'>
				<h1 id='fs-info'></h1>	
				<div id='fs-toolbar'>
					<button id='fs-up'>Up Level</button>
				</div>				
				<div id='fs-main'>
					<div id='fs-floor-0' class='fs-floor'></div>
					<div id='fs-floor-1' class='fs-floor'></div>
					<div id='fs-floor-2' class='fs-floor'></div>
					<div id='fs-floor-3' class='fs-floor'></div>
					<div id='fs-floor-4' class='fs-floor'></div>
				</div>
			
			</div>
			<div id='tag'>
				<div id='tag-searchbar'>
					<input id='tag-search' class='input-field'>
					<button id='tag-searchbtn'>Search</button>
					<div id='tag-match'>
						<div id='tag-match-div'></div>
					</div>
					<div id='tag-search-output'></div>				
				</div>
				<div id='tag-window'>
					<p id='ux-selected'>File is not selected</p>
					<input id='tag-input' class='input-field'>
					<div id='tag-btn'>
						<button id='tag-write'>Add Tag</button>
					</div>
					<div id='tag-display'></div>
					<div id='tag-placeholder'>
						<button id ='tag-delete'>Delete Tag</button>
						<div id='tag-info'>
							<p id ='tag-selected'>No tag selected</p>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	<div id='buttonbar'>
		<button id='fs-home'>Home</button>
		<button id='fs-openDir'>Open Folder</button>
		<button id='cw-setting'>Setting</button>
		<button id="btn">Test button</button>
	</div>
    
</body>
<script src="./index-ux.js"></script>
<script src="./index-tag.js"></script>
<script src="./index-mnt.js"></script>
<script src="./index.js"></script>


</html>