<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
    <title>Stem Setting!</title>
</head>

<body>
    <h1>I am nothing but a kindly child !!</h1>
    <div>
		<p id='test'>this is a test</p>
	</div>
</body>
<script src="./setting.js"></script>

</html>