<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
    <title>Stem Setting!</title>
</head>

<body>
    <h1>I am nothing but a kindly child !!</h1>
    <div>
		<p id='test'>this is a test</p>
		<p>Current color theme:<strong id='dm-text'>System</strong></p>
		<button id='dm-main'>Toggle</button>
		<button id='dm-reset'>Reset</button>
		<p>Window width:<input id='Width' class='option' type='number'></p>
		<p>Window height:<input id='Height' class='option' type='number'></p>
		<input id='st-record' type='hidden'>
		<button id='st-write'>Apply</button>
		<button id='st-reset'>Reset</button>
		<button id='cw-codelab'>Code Lab</button>
		<button id='cw-stylelab'>Style Lab</button>
		<p id='st-message'></p>
		
	</div>
</body>
<script src="./setting.js"></script>

</html>