<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
    <title>Stem Style Lab!</title>
</head>

<body>
    <h1>Welcome to Style Lab!!Enjoy your irresponsible practical aesthetics</h1>
</body>
<script src="./stylelab.js"></script>

</html>