
#fs-path{
	height:			5vh;
	display:		flex;
	align-items:	flex-end;
}
#box{
	height:			100vh;
	width:			100vw;
	position:		fixed;
	left:			0;
	top:			0;
	display:		none;
}
#box.visible{
	display:		block;
}
#box-filter{
	height:			100%;
	width:			100%;
	background:		rgb(14,14,14);
	z-index:		9997;
	position:		fixed;
	display:		block;
	opacity:		0.3;
}
#box-main{
	height:			250px;
	width:			400px;
	background:		rgb(247,247,247);
	z-index:		9998;
	position:		fixed;
	left:			calc(50vw - 200px);
	top:			calc(50vh - 125px);
	display:		block;
}
#main-function{
	height:			90vh;
	width:			100%;
	display:		flex;
}
#mnt{
	width:			20%;
	border-top:		5px solid rgb(255,238,214);
	border-right:	5px solid rgb(255,238,214);
}
#mnt-cm{
	position:		fixed;
	z-index:		9999;
	width:			150px;
	border-radius:	5px;
	background:		rgb(228,237,241);
	visibility:		hidden;
}
#mnt-cm.visible{
	visibility:		visible;
}
#mnt-group-display{
	max-height:		100vh;
}
.mnt-cm-option{
	padding:		8px 10px;	
	cursor:			pointer;	
}
.mnt-cm-option:hover{
	background:		rgb(180,205,217);
}
.mnt-cm-submenu{
	background:		rgb(238,245,247);
	padding:		8px 10px;
	cursor:			pointer;	
}
.mnt-cm-submenu:hover{
	background:		rgb(180,205,217);
}
.mnt-cm-dropmenu{
	background:		rgb(119,164,187);
	color:			rgb(248,250,252);
	width:			150px;
	display:		none;
	z-index:		9999;
	cursor:			pointer;
	position:		absolute;
}
.mnt-cm-dropmenu.visible{
	display:		block;
}
.mnt-dropmenu-option{
	white-space:	nowrap;
	min-height:		31px;
	width:			150px;
	display:		block;
	font-size:		12px;
}
.mnt-dropmenu-option:hover{
	background:		rgb(146,182,200);
}

.mnt-dropmenu-option.hide{
	display:		none;
}
.mnt-folder{
	border-bottom:	5px solid rgb(255,238,214);
	
}
.mnt-folder-header{
	border-bottom:	5px solid rgb(255,238,214);
	height:			26px;
}
.mnt-folder-header.mnt-selected{
	background:		rgb(124,255,192);
}
.mnt-folder-content{
	white-space:	nowrap;
	overflow-x:		auto;
	overflow-y:		scroll;
	height:			0px;
	max-height:		20vh;	
	transition:		0.5s ease;
}
.mnt-data{
	width:			100%;
	height:			21px;
}
.mnt-data:hover{
	background:		rgb(154,255,222);
}
#fs{
	width:			60%;
	border-top:		5px solid rgb(255,238,214);
}
#fs-info{
	margin:			0;
}
#fs-toolbar{
	position:		flex;
	border-bottom:	5px solid rgb(255,238,214);
	border-right:	5px solid rgb(255,238,214);
	top:			0;
	left:			0;
	z-index:		10;
}
#fs-up{
	height:			3vh;
}
#fs-main{
	height:			96%;
	overflow-x:		auto;
	overflow-y:		hidden;
	display:		flex;
	white-space:	nowrap;
	border-right:	5px solid rgb(255,238,214);	
}

.fs-floor{
	width:			0px;
	flex-shrink:	0;
	flex-grow:		1;
	overflow-x:		hidden;
	overflow-y:		scroll;
	padding:		0px;
}
.fs-data{
	width:			50%;
	text-align:		left;
	display:		inline-block;	
	padding:		15px;
}
.fs-data:hover{
	background:		transparent;
	transition:		none;
}
/* Columbia Blue */
.fs-data-label{
	width:			532px;
}
.fs-data-label:hover{
	background:		rgb(211,229,238);
	transition:		none;
}
/* Dark Columbia Blue */
.fs-data-label:focus{
	background:		rgb(167,203,221);
	transition:		none;
}
.fs-data-size{
	width:			20%;
	display:		inline-block;
	margin:			none;
}

.fs-data-mtime{
	width:			30%;
	text-align:		center;
	display:		inline-block;
	margin:			none;
}

#tag{
	height:			100%;
	width:			30%;
	/* resize:			horizontal; */
    overflow:		auto;
	text-align:		center;
	vertical-align: top;
}
/* Floral White */
.tag-label{
	background:		rgb(255,250,240);
	transition:		0.1s;
}
/* Mimi Pink */
.tag-label:hover{
	background:		rgb(244,205,233);
	transition:		none;
}
/* Plum */
.tag-label:focus{
	background:		rgb(233,150,211);
	transition:		none;
}
#tag-display{
	border-bottom:	5px solid rgb(255,238,214);
}
#tag-searchbar{
	border-top:		5px solid rgb(255,238,214);
}
#tag-window{
	border-top:		5px solid rgb(255,238,214);
}
#buttonbar{
	border-top:		5px solid rgb(255,238,214);
	z-index:		1;
	display: 		flex;
}
#tag-match-div{
	height:			0vh;
	overflow:		auto;
	transition:		0.5s;
}
/* Anti Flash White*/
#tag-match-result:hover{
	background:		rgb(231,238,238);
}

/* TODO */
/* #tag-search-output{

} */

/* Alice Blue */
#tag-search-result:hover{
	background:		rgb(223,239,247);
}

.tooltip{
	display:		none;
	position:		absolute;
	z-index:		1;
	background:		teal;
	color:			white;	
	font-size:		12px;
	height:			2vh;
	right:			30px;
}

.filelabel-info{
	overflow:		hidden;
	white-space:	nowrap;
}

.hide{
	display:		none;
}
