
#fs-path{
	height:			5vh;
	display:		flex;
}
#main-function{
	height:			70vh;
	width:			100%;
	display:		flex;
}
#fs{
	width:			70%;

	border-top:		5px solid rgb(255,238,214);
	border-right:	5px solid rgb(255,238,214);

}
#fs-info{
	margin:			0;
}
#fs-toolbar{
	position:		sticky;
	border-bottom:	5px solid rgb(255,238,214);
	top:			0;
	left:			0;
}
#fs-up{
	height:			3vh;
}
#fs-main{
	height:			90%;
	overflow-x:		auto;
	overflow-y:		scroll;
	display:		flex;
	white-space:	nowrap;
	border-right:	5px solid rgb(255,238,214);	
}
.fs-floor{
	width:			65vw;
	flex-shrink:	0;
	flex-grow:		1;
	border-left:	5px solid rgb(255,238,214);
}
.fs-data{
	width:			35vw;
	text-align:		left;
	display:		inline-block;	
	padding:		15px;
}
.fs-data:hover{
	background:		transparent;
	transition:		none;
}
/* Columbia Blue */
.fs-data-label{
	width:			65vw;
}
.fs-data-label:hover{
	background:		rgb(211,229,238);
	transition:		none;
}
/* Dark Columbia Blue */
.fs-data-label:focus{
	background:		rgb(167,203,221);
	transition:		none;
}
.fs-data-size{
	width:			10vw;
	display:		inline-block;
	margin:			none;
}

.fs-data-mtime{
	width:			20vw;
	text-align:		center;
	display:		inline-block;
	margin:			none;
}

#tag{
	height:			100%;
	width:			30%;
	text-align:		center;
	vertical-align: top;
}
/* Floral White */
.tag-label{
	background:		rgb(255,250,240);
	transition:		0.1s;
}
/* Mimi Pink */
.tag-label:hover{
	background:		rgb(244,205,233);
	transition:		none;
}
/* Plum */
.tag-label:focus{
	background:		rgb(233,150,211);
	transition:		none;
}
#tag-searchbar{
	border-top:		5px solid rgb(255,238,214);
}
#tag-window{
	border-top:		5px solid rgb(255,238,214);
}
#buttonbar{
	border-top:		5px solid rgb(255,238,214);
}
#tag-match-div{
	height:			0vh;
	overflow:		auto;
	transition:		0.5s;
}
/* Anti Flash White*/
#tag-match-result:hover{
	background:		rgb(231,238,238);
}
#tag-search-output{

}
/* Alice Blue */
#tag-search-result:hover{
	background:		rgb(223,239,247);
}

.tooltip{
	display:		none;
	position:		absolute;
	z-index:		1;
	background:		teal;
	color:			white;	
	font-size:		12px;
	height:			2vh;
	right:			30px;
}

.filelabel-info{
	overflow:		hidden;
	white-space:	nowrap;
}
