.fs-data{
	text-align:		left;
	display:		inline-block;	
}
.fs-data-size{
	width:			30%;
	display:		inline-block;
	padding:		none;
	margin:			none;
}
.fs-data-mtime{
	width:			20%;
	text-align:		center;
	display:		inline-block;
	padding:		none;
	margin:			none;
}