@media (prefers-color-scheme: dark) {
	body { 
		background:	rgb(17,17,17); 
		color: 		rgb(211,211,211);
		height:		100vh;
	}
	button{
		background:	rgb(17,17,17);
	}
}

@media (prefers-color-scheme: light) {
	body { 
		background: rgb(255,250,240);
		color: 		black; 
		height:		100vh;
	}
	button{
		background: rgb(255,250,240);
		transition: 0.1s;
	}
}

button {
	padding:	0;
	width:		50%;
	border:		none;
}
button{
	background:		rgb(255,250,240);
	transition:		0.1s;
}
/*Pale Purple*/
button:hover{
	background:		rgb(231,221,248);
	transition:		none;
}
p{
	margin:			0px;
}
